@import "tailwindcss";

@layer base {
  :root {
    --background: 60, 3%, 15%;
    --foreground: 210 40% 98%;
    --card: 60, 3%, 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 48, 33%, 97%;
    --primary-foreground: 60, 3%, 15%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 0%;
    --muted-foreground: 60, 1%, 58%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 60, 2%, 29%;
    --input: 217.2 32.6% 17.5%;
    --ring: 217 91% 60%;
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
